* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color:antiquewhite
}

.container {
    margin: 80px auto;
    max-width: 820px;
    width: 100%;
    background-color: rgb(3, 108, 195);
    padding: 52px;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

form, h2 {
    margin-top: 16px;
}

label,
input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    resize: none;

}

input,
textarea {
    padding: 8px;
}

button {
    justify-content: space-between;
    width: 100%;
    background-color: rgb(0, 0, 124);
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    padding: 8px;
}

button:hover {
    background-color: rgb(4, 4, 181);
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.error-message {
    font-size: 14px;
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}

input.error {
    color: red;
    border-color: red;
    outline-color: red;
}

.received-message {
    background-color: rgb(0, 0, 124);
    color: white;
    padding: 8px;
    text-align: center;
    margin-top: 8px;
    font-weight: 600;
    display: none;
}